:root {
  --square-size: 30vmin;
}

@media only screen and (min-width: 460px) {
  :root {
    --square-size: 22vmin;
  }
}

.square {
  float: left;
  width: var(--square-size);
  height: var(--square-size);
  text-align: center;
  background: #fff;
  font-size: calc(var(--square-size) - 2vmin);
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.winSquare {
  background: blue;
}

.square:hover {
  background-color: rebeccapurple;
}
